<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite" parallel="tests">
	<test name="test1" parallel="instances">
		<classes>
			<class name="ParallelExecutionDemo" />
			<!-- <class name="ParallelExecution2" /> -->
		</classes>
	</test>
	
	<test name="test2" parallel="instances">
		<classes>
			<class name="ParallelExecutionDemo" />
		</classes>
	</test>
	
</suite> <!-- Suite -->
