<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite">
	<!-- <test thread-count="5" name="test1"> <classes> <class name="com.selenium.programs.TestNGDemo"/> 
		<class name="com.selenium.programs.TestNGDemo3"/> </classes> </test> Test 
		<test name="test2"> <classes> <class name="com.selenium.programs.TestNGDemo2"/> 
		</classes> </test> -->

	<test thread-count="5" name="test1">
		<groups>
			<run>
				<include name="REGRESSION" />
				<exclude name="SMOKE" />
			</run>
		</groups>

		<classes>
			<class name="com.selenium.programs.TestNGGroupsDemo" />
			<class name="com.selenium.programs.TestNGGroupsDemo2" />
		</classes>
	</test>


</suite> <!-- Suite -->
